*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF
}
h1 {
    padding: 0;
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
}
/* hr {
    width: 700px;
    height: 2px;
    border: none;
    background-color: #BDAE82; 
    position: relative;
    left: 50%;
    top: 139px;
    transform: translateX(-50% );
}*/
h2 {
    padding: 100px 20px 60px;
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: var(--main-color);
    text-align: center;
    position: relative;
    background-color: #000000;
} 
h3 {
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
}
a {
    text-decoration: inherit;
    color: #FFFFFF
}
.conteiner {
    width: 1440px;
    margin: 0 auto;
}
a:hover {
    color: var(--main-color);
}
button {
    width: 220px;
    height: 55px;
    background: var(--main-color);
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 40px;
}
/*HEADER*/
header {
   
}
.header__wrapper {
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 50px;
}
.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__logo {
}
.header__nav {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.header__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.header__menu-item {
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF
}
div.header__menu-item a:first-child::after{
    content: "/";
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    padding: 0 8px 0 9px;
}
.header__wrapper h1 {
    margin: 180px 0 10px 60px;
}
.header__menu-link {
}
.header__text {
    margin: 0 0 25px 60px;
    font-size: 20px;
    line-height: 40px;
}
.header__button {
    margin: 0 0 330px 60px;
}
.header__button-link {
}
.header__button-btn {
}
/*Skills*/
.skills {
    display: flex;
    flex-direction: column;
}
.skills__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.skills__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
}
.skills__item-img {
    width: 60px;
    padding-bottom: 20px;
}
.skills__item-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}
.skills__item-text {
}
/*PORTFPLIO*/
.portfolio {
}
.portfolio__title {
}
.portfolio__button {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.portfolio__button-btn {
    background-color: inherit;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.portfolio__gallery {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    gap: 25px;
}
.portfolio__gallery-inner {
}
/*VIDEO*/
.video {
}

.video__title {
}
.video__block {
    position: relative;
}
.video__block-img {
    margin: 0 auto;
}
.video__block-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*PRICE*/
.price {
    display: flex;
    flex-direction: column;
}
.video__title {
}
.price__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}
.price__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 43px 115px;
    border: var(--main-color) 3px solid;
}
.price__title {
    
}
.price__dollars {
    font-family: var(--font-family-title);
    color: var(--main-color);
    font-size: 24px;
    line-height: 48px;
}
.price__text {
    font-size: 18px;
    line-height: 36px;
}
.price__button {
   margin-top: 20px;
}
/*CONTACTS*/
.contacts {
    background-image: url(./images/contacts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.contacts__title {
    position: absolute;
    background-color: inherit;
}
.contacts__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;
}
.contacts__form-input {
    width: 100%;
}
/*FOOTER*/
.footer__wrapper {
    display: flex;
    justify-content: space-between;
}
.footer__age {
}
.footer__school {
}
.footer__icon {
}
.footer__icon-svg {
}



:root {
    --main-color: #BDAE82;
    --font-family-title:'Merriweather', serif;
}